<section>
    <div class="container">
        <div class="post">
            <div class="col-md-6">
                <img src="../static/img/235096-14101Q02U398.jpg" alt="audio wave image" class="img-thumbnail f_img">
            </div>
            <div class="col-md-6">
                <div id="words">
                    <h3>Hear your audio </h3>
                    <p>
                        Enjoy and download you favorit music. 
                    </p>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="col-md-6">
                <div id="words">
                    <h3>Music visualization</h3>
                    <p>
                        See how your music look like.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../static/img/maxresdefault.jpg" alt="audio wave image" class="img-thumbnail f_img">
            </div>
        </div>
            <div class="post last">
                <div class="col-md-6">
                    <img src="../static/img/Audiowave0.jpg" alt="audio wave image" class="img-thumbnail last">
                </div>
                <div class="col-md-6">
                    <div id="words ">
                        <center clas="cent">
                            <h3>Want to try it</h3>
                            <p>
                                What are you waiting for :
                            </p>    
                            <button data-toggle="modal" data-target="#snin" class="btn btn-primary">Get Stared Now</button>
                        </center>
                    </div>
                </div>
            </div>
    </div>
</section>